{% extends 'base.html.twig' %}

{% block title %}HairSpace - Avis{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Commentaire</h1>
            
    {% for unUtilisateur in utilisateurs %}
    {% for unAvis in avis %}
    {% if unUtilisateur.id == unAvis.avsutlnum.id %}      
        </br>{{unUtilisateur.utlidentifiant}}</br> 
        {{unAvis.avscommentaire}}
        </br>
         
    {% endif %}
    {% endfor %}     
    {% endfor %}

    <a class="inscriptionLien" href="commentaire" class="btn">Ecrire un commentaire</a>
</div>


{% endblock %}
