{% extends 'base.html.twig' %}

{% block title %}HairSpace - Avis{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Commentaire</h1>
            
    {% for unUtilisateur in utilisateurs %}
    {% for unAvis in avis %}
    {% if unUtilisateur.id == unAvis.avsutlnum.id %}      
        </br><div class="boxListCom">{{unUtilisateur.utlidentifiant}} : </br> </br> 
        {{unAvis.avscommentaire}}</div>
        </br>
         
    {% endif %}
    {% endfor %}     
    {% endfor %}
    <div class="boxAvis">
    <div class="avisForme">
    
    {% if app.session.get('Droit') == 1 %}
    {{ app.session.get('ID') }} :  
    <a class="inscriptionLien btnAvis" href="commentaire" >Ecrire un commentaire</a></div>
    {% else %}
    {% if app.session.get('Droit') == 0 %}
    {{ app.session.get('ID') }} :
    <a class="inscriptionLien btnAvis" href="commentaire" >Ecrire un commentaire</a></div>
    {% else %}
    <a class="inscriptionLien btnAvis" href="connexion" >Ecrire un commentaire</a></div>
    {% endif %}
    {% endif %} 
    
    
</div>
</div>



{% endblock %}
