{% extends 'base.html.twig' %}

{% block title %}HairSpace - Accueil{% endblock %}

{% block body %}

<img class="bg-img" src="/assets/img/bg-imgv2.jpg">

<img class="bg-logo" src="/assets/img/hairspace-logo.png">

<div class="accueil">
    <h1>Bienvenue sur la page d'accueil du site de SpaceHair !</h1>

    <p>Ici, vous retrouverez toutes nos prestations ainsi que la présentation de nos services. </br> Vous pourrez aussi déposer votre avis ou bien rentrer en contact pour la prise de rendez-vous. </br></br> Pour naviguer sur le site, veuillez utiliser le menu tout en haut !</p>

    <table>
        <tr>
            <td><img class="pinMap-logo" src="/assets/img/map-pin.png"></td>
            <td><h3>8-10 Rue Rambuteau, 75003 Paris</h3></td>
        </tr>
    </table>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.884296232756!2d2.3562518!3d48.8604167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e035278b44f%3A0x41d1920305d4e907!2s8-10%20Rue%20Rambuteau%2C%2075003%20Paris!5e0!3m2!1sfr!2sfr!4v1664380277654!5m2!1sfr!2sfr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock %}
