{% extends 'base.html.twig' %}

{% block title %}Hello PrestationController!{% endblock %}

{% block body %}

<link href="../assets/style-fix.css" rel="stylesheet" />

<div class="body-contenu">
    <div class="prestation-grid">
        {% for unePrestation in Prestations %}
        <div class="prestation-grid-colonne">
            <table>
                <tr>
                    <td><img class="prestation-img" src="{{ unePrestation.prsimage }}"></td>
                </tr>
                <tr>
                    <td><h2>{{ unePrestation.prslibelle }}</h2></td>
                </tr>
                <tr>
                    <td><div class="conteneur-prix"><p>{{ unePrestation.prsprix }} €</p></div></td>
                </tr>
                <tr>
                    <td><div class="conteneur-duree"><p>{{ unePrestation.prsduree|date('H:i:s') }}</p></div></td>
                </tr>
            </table>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
